/* index css  */

*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	box-shadow: none!important;
	outline: none;
}
body{
	background-color:transparent;
}

.top-line{
	width: 100%;
	height:5px;
	float: left;
	background-color: #ddd;
}

input{
	width:100%!important;
	padding: 12px 20px!important;
	border: none!important;
	margin-bottom: 20px!important;
	border-radius: 50px!important;
	background-color:#ddd!important;
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Francois One', sans-serif;
}


.generate-keybtn-txt{
	font-family: 'Roboto', sans-serif;
}
.g-btn
{
	border-radius: 5px;
	padding:0px 10px;
	background-color:#ddd;
	font-weight:normal;
}


.s-btn,.l-btn
{
	background-color: rgb(1, 19, 1);
	padding: 10px 20px;
	color:#ccc;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
}

.password-box,.email-box{
	position: relative;
}

.show-icon,.email-loader{
	position: absolute;
	top:12px;
	right:15px;
	cursor:pointer;
	color:#000;
}

.l-btn,.s-btn:hover
{
background-color: #020;
color:#ddd!important;

}

